@Model Alumno

@{
    ViewData["Title"] = "Informacion Alumno";
    Layout = "Simple";
}

<br />
<br />
<h2><strong>Desde la vista Normal</strong></h2>
<br />
<hr />

<p>
<p>Nombre: @Model.Nombre</p>
<p>Id: @Model.UniqueId</p>
</p>

<h2><strong>Desde la vista Parcial</strong></h2>
<br />
<hr />

@*
    <partial name="AsignaturaSimple" />
*@
<partial name="ObjetoEscuelaSimple" />

<h3>Fecha: @ViewBag.Fecha</h3>

<p><i>@ViewBag.CosaDinamica</i></p>

