@Model Asignatura

@{
    ViewData["Title"] = "Informacion Asignatura";
    //Layout = "_Layout";
    //Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>
<h2>Nombre: @Model.Nombre</h2>
<h3>Fecha: @ViewBag.Fecha</h3>

<p><i>@ViewBag.CosaDinamica</i></p>

