@Model List<Asignatura>

    @{
        ViewData["Title"] = "Informacion MultiAsignatura";
        Layout = "Simple";
    }

    <h1>@ViewData["Title"] </h1>

    <h2><strong>Desde la vista Parcial</strong></h2>


    @*
        @foreach (var asignatura in Model)
        {
        @*
         <partial name="AsignaturaSimple" model="asignatura" />

        <partial name="ObjetoEscuelaSimple" model="asignatura" />

        }

    *@

    <partial name="ListObjetoEscuela" />

